<div>
    <div class="oc-breadcrumbs">
        <div class="breadcrumbs">

            <span class="ng-star-inserted">

                <a class="ng-star-inserted">Home</a>

                <span class="occ-right-arrow ng-star-inserted">&gt;</span>
            </span><span class="active ng-star-inserted">

                <a class="ng-star-inserted">Payments</a>

                <span class="occ-right-arrow ng-star-inserted" hidden="">&gt;</span>
            </span>
        </div>
    </div><h1 class="occ-page-title">Payments</h1>
    <div  class="oc-cardset occ-payments-card" >
        <div class="cards-wrapper payment">
            <div class="cards-row column-layout-3 ng-star-inserted">

                <div class="oc-card ng-star-inserted" style="cursor: pointer;">
                    <div class="card">
                        <div class="card-content">

                            <div class="occ-card-label ng-star-inserted" routerLink="/payments/initiation">Initiate New Outgoing</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>