<div class="occ-page">
  <div class="occ-wrapper">
      <div style="display:contents" class="oc-nav-bar">
          <div class="ng-tns-c0-0 ng-trigger ng-trigger-slideInOut nav-bar vertical-nav-bar expanded">
              <div class="header"><div header=""><img class="occ-citi-logo" src="assets/images/citi-logo-trans.png" style="cursor: pointer;" tabindex="0" ng-reflect-router-link="/collections"></div></div><ul class="ng-tns-c0-0">

               
                  <li class="ng-tns-c0-0 ng-star-inserted" style="">

                      <a class="ng-tns-c0-0 ng-star-inserted active" title="" routerLink="/payments"><span class="occ-icon occ-payments-light-grey"></span><span class="label">Payments</span></a>
                  </li>

              </ul><div class="footer"><div footer=""><a href="#"><span class="occ-icon occ-help-light-grey"></span><span class="label">Help</span></a></div></div>

              <div class="occ-collapsible-icon ng-tns-c0-0 ng-star-inserted" style=""></div>
          </div>
      </div><div>
          <div class="oc-header occ-page-header" ng-reflect-fixed="false"><div class="header"><div class="occ-header-content">
            <div class="occ-center-panel"><h1>Payments</h1></div></div></div></div><div class="container">
              <div class="occ-content occ-content-spacing">
                  <router-outlet></router-outlet>
                 
              </div>
          </div>
          <div class="occ-copyright-footer text-center ng-star-inserted"><div class="row"><div class="col-xs-12 text-center occ-copyright">Copyright © 2007 - 2020 Citigroup Inc.</div></div><div class="row"><div class="col-xs-12"><span class="ng-binding" ng-click="#">CitiGroup.com </span><span class="ng-binding" ng-click="#">Cookie Policy </span><span class="ng-binding" ng-click="#">Customer Security </span><span class="ng-binding" ng-click="#">Privacy Policy </span><span class="ng-binding" ng-click="#">Terms &amp; Conditions</span></div></div></div>
      </div>
  </div>
</div>