<div class="oc-breadcrumbs">
	<div class="breadcrumbs">

		<span class="ng-star-inserted">

			<a class="ng-star-inserted">Home</a>

			<span class="occ-right-arrow ng-star-inserted">&gt;</span>
		</span><span class="ng-star-inserted">

			<a class="ng-star-inserted">Payments</a>

			<span class="occ-right-arrow ng-star-inserted" hidden="">&gt;</span>
		</span>
		<span class="occ-right-arrow ng-star-inserted">&gt;</span>
		<span class="active ng-star-inserted" ><a class="ng-star-inserted">Initiate Payments</a><span class="occ-right-arrow ng-star-inserted" hidden="">&gt;</span></span>
	</div>
</div>
<h1 class="occ-page-title">Initiate Payment</h1>
<div class="oc-nav-wizard">
    <div class="horizontal-nav-wizard">
        <ul class="navflow-wizard">
          
            <li class="navflow-wizard-step ng-star-inserted" [ngClass]="{'inactive':currentStep!=1}">
                <div>
                    <span class="step-number occ-icon">  </span>
                    
                    <span class="step-label ng-star-inserted">Payment Details</span>
                   
                </div>
            </li>
            <li class="navflow-wizard-step inactive ng-star-inserted" [ngClass]="{'inactive':currentStep!=2}">
                <div>
                    <span class="step-number occ-icon">  </span>
                   
                    <span class="step-label ng-star-inserted">Additional Information</span>
                  
                </div>
            </li>
            <li class="navflow-wizard-step inactive ng-star-inserted" [ngClass]="{'inactive':currentStep!=3}">
                <div>
                    <span class="step-number occ-icon">  </span>
                   
                    <span class="step-label ng-star-inserted">Review and Submit</span>
                  
                </div>
            </li>
        </ul><div class="wizard-tracker active-{{currentStep}} steps-3"><span class="progress"></span></div>
    </div>
</div>

<div class="occ-form-panel">
    <div class="occ-form-main">
        <div *ngIf="currentStep===1">
            <oc-payments-header></oc-payments-header>
		</div>
		<div *ngIf="currentStep===2">
            <div class="row">
				<div class="col-xs-12 occ-datainfo">
					Fill in any optional infromation
				</div>
			</div>
			<div class="occ-multi-panel-wrapper">
				<div class="oc-panel" paneltype="primary" required="">
					<div class="panel panel-primary">
				
						<div class="panel-heading">
							<h2 class="ng-tns-c1-1"><span class="oc-panel-header">Payment Details</span></h2>
				

							<div class="panel-expand-collapse-wrapper">
				
							</div>
						</div><div class="ng-tns-c1-1 ng-trigger ng-trigger-openClose" style="display: block; opacity: 1;">
				
							<div class="panel-body" style="">
								<div class="oc-panel-body">
									<div class="row">
										<div class="col-xs-4">
				
											<label class="d-block" for="">
												<span></span>
												<b>Debit Account</b>
											</label>
				
											<label class="d-block" for="">
												<span></span>
												AE720211000000120144049
											</label>
				
										</div><div class="col-xs-4">
				
											<label class="d-block" for="">
												<span></span>
												<b>Payment Currency</b>
											</label>
				
											<label class="d-block" for="">
												<span></span>
												<span>INR - INDIAN RUPEE</span>
											</label>
				
										</div><div class="col-xs-4">
											
												<label class="d-block" for="">
													<span></span>
				
													<span class="required ng-star-inserted"></span><b>Payment Amount</b>
												</label>
				
												<div class="input-container">
				
													<input class="form-control ng-untouched ng-pristine ng-valid" placeholder="" formname="amount" name="amount" required="true" type="text" />
													
												</div>
				
										</div>
									</div><div class="row">
										<div class="col-xs-4">
				
											<label class="d-block" for="">
												<span></span>
												<b>Account Name</b>
											</label>
				
											<label class="d-block" for="">
												<span></span>
												0120144XXXXXXXXXXXX
											</label>
				
										</div><div class="col-xs-4">
				
											<label class="d-block" for="">
												<span></span>
												<b>Payment Method</b>
											</label>
				
											<label class="d-block" for="">
												<span></span>
												Cross Border Payments
											</label>
				
										</div>
									</div><div class="row">
										<div class="col-xs-4">
				
											<label class="d-block" for="">
												<span></span>
												<b>Branch Name</b>
											</label>
				
											<label class="d-block" for="">
												<span></span>
												ABU DHABI BANK
											</label>
				
										</div><div class="col-xs-4">
				
											<label class="d-block" for="">
												<span></span>
												<b>Payment Type</b>
											</label>
				
											<label class="d-block" for="">
												<span></span>
												--
											</label>
				
										</div>
									</div><div class="row">
										<div class="col-xs-4">
				
											<label class="d-block" for="">
												<span></span>
												<b>Debit Account Balance</b>
											</label>
				
											<label class="d-block" for="">
												<span></span>
												112141024.29 EUR Sunday, 13 September 2020, 04:02 AM
											</label>
				
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="oc-panel" paneltype="secondary">
					<div class="panel panel-secondary">
						<div class="panel-heading ng-tns-c1-2 ng-star-inserted">
							<h2 class="ng-tns-c1-2"><div class="oc-panel-header">Payment Details</div></h2>
							<div class="panel-expand-collapse-wrapper">
								<span class="panel-expand-collapse-text ng-tns-c1-2 ng-star-inserted">
									<span class="ng-tns-c1-2 ng-star-inserted">
									</span><span class="ng-tns-c1-2 collapse-i"></span>
								</span>
							</div>
						</div><div class="ng-tns-c1-2 ng-trigger ng-trigger-openClose" style="display: block; opacity: 1;">
							<div class="panel-body" style="">
								<div class="oc-panel-body">
									<div class="row">
										<div class="col-xs-4">
											<label class="d-block">
												<span></span> Transaction Reference Number
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div><div class="col-xs-4">
											<label class="d-block">
												<span></span> Value Date
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div><div class="col-xs-4">
											<label class="d-block">
												<span></span> Payment Details
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div>
									</div><div class="row">
										<div class="col-xs-4">
											<label class="d-block">
												<span></span> Related Reference
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div><div class="col-xs-4">
											<label class="d-block">
												<span></span> Charges Indicator
											</label>
											<div class="input-container">

												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div>
									</div><div class="row">
										<div class="col-xs-4">
											<label class="d-block">
												<span></span> Mark this Payment as Important
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div><div class="col-xs-4">
											<label class="d-block">
												<span></span> Confidential
											</label>
											<div class="input-container">
																
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
				<div class="oc-panel" paneltype="secondary">
					<div class="panel panel-secondary">
						<div class="panel-heading ng-tns-c1-2 ng-star-inserted">
							<h2 class="ng-tns-c1-2"><div class="oc-panel-header">Beneficiary Details</div></h2>
							<div class="panel-expand-collapse-wrapper">
								<span class="panel-expand-collapse-text ng-tns-c1-2 ng-star-inserted">
									<span class="ng-tns-c1-2 ng-star-inserted">
									</span><span class="ng-tns-c1-2 collapse-i"></span>
								</span>
							</div>
						</div><div class="ng-tns-c1-2 ng-trigger ng-trigger-openClose" style="display: block; opacity: 1;">
							<div class="panel-body" style="">
								<div class="oc-panel-body">
									<div class="row">
										<div class="col-xs-4">
											<label class="d-block">
												<span></span> Beneficiary Name
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div><div class="col-xs-4">
											<label class="d-block">
												<span></span> Beneficiary ID
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div><div class="col-xs-4">
											<label class="d-block">
												<span></span> Beneficiary Address
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div>
									</div><div class="row">
											<div class="col-xs-4">
												<label class="d-block">
													<span></span> Beneficiary Bank Name
												</label>
												<div class="input-container">
					
													<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
					
												</div>
											</div><div class="col-xs-4">
												<label class="d-block">
													<span></span> Beneficiary Account or Other ID Type
												</label>
												<div class="input-container">
					
													<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
					
												</div>
											</div><div class="col-xs-4">
												<label class="d-block">
													<span></span> Beneficiary Account or Other ID
												</label>
												<div class="input-container">
					
													<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
					
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
				<div class="oc-panel" paneltype="secondary">
					<div class="panel panel-secondary">
						<div class="panel-heading ng-tns-c1-2 ng-star-inserted">
							<h2 class="ng-tns-c1-2"><div class="oc-panel-header">Ordering Party Details</div></h2>
							<div class="panel-expand-collapse-wrapper">
								<span class="panel-expand-collapse-text ng-tns-c1-2 ng-star-inserted">
									<span class="ng-tns-c1-2 ng-star-inserted">
									</span><span class="ng-tns-c1-2 collapse-i"></span>
								</span>
							</div>
						</div><div class="ng-tns-c1-2 ng-trigger ng-trigger-openClose" style="display: block; opacity: 1;">
							<div class="panel-body" style="">
								<div class="oc-panel-body">
									<div class="row">
										<div class="col-xs-4">
											<label class="d-block">
												<span></span> Ordering Party Name
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div><div class="col-xs-4">
											<label class="d-block">
												<span></span> Ordering Party ID Type
											</label>
											<div class="input-container">
				
												<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
				
											</div>
										</div>
									</div><div class="row">
											<div class="col-xs-4">
												<label class="d-block">
													<span></span> Ordering Address
												</label>
												<div class="input-container">
					
													<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
					
												</div>
											</div><div class="col-xs-4">
												<label class="d-block">
													<span></span> Ordering Party ID
												</label>
												<div class="input-container">
					
													<input class="form-control" placeholder="" formname="amount" name="amount" required="true" type="text" />
					
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div *ngIf="currentStep===3">
            Under Construction
        </div>
    </div>
</div>

<div class="oc-footer occ-form-footer disabled">
    <div class="footer">
        <div class="occ-left-panel">
            <!-- <div  class="oc-action-button btn-tertiary" label="CANCEL" type="button">
                <button class="oc-action-button btn btn-tertiary" type="button" tabindex="0">
                    <i class="occ-icon occ-cancel"></i>CANCEL
                </button>
            </div>
            <div class="oc-action-button btn-tertiary occ-btn-save" label="Save as Draft" type="button">
                <button class="oc-action-button btn btn-tertiary occ-btn-save" type="button" tabindex="0"><i class=""></i>Save as Draft</button>
            </div>
            <div class="oc-action-button btn-tertiary occ-btn-save" label="Save as Template" type="button">
                <button class="oc-action-button btn btn-tertiary occ-btn-save" type="button" tabindex="0"><i class=""></i>Save as Template</button>
            </div> -->
        </div>
        <div class="occ-right-panel">
            <div class="oc-action-button btn-tertiary occ-btn-clear" label="Clear All" type="button">
                <button class="oc-action-button btn btn-tertiary occ-btn-clear" type="button" tabindex="0"><i class=""></i>Clear All</button>
            </div>
            <div class="oc-action-button btn-primary" label="Next Step" type="button">
                <button class="oc-action-button btn btn-primary" type="button" tabindex="0" (click)="proceedToNext()"><i class=""></i>Next Step</button>
            </div>
        </div>
    </div>
</div>